<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<item-list>
    <item xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="settingsItem" name="MAIN_RESOURCE_NAME">
        <value xmlns:xs="http://www.w3.org/2001/XMLSchema" xsi:type="xs:string">tasks_db1.xml</value>
    </item>
</item-list>
